@import "variables";
@import "navegador";
@import "footer";
@import "contacto";
@import "mixin";

body {
    background-image: url("../Imágenes/FondoNaranja2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {
        font-style: $fuente-principal;
        font-size: 4rem;
        color: $color-letra;
    }

    h2 {
        @extend h1;
        font-size: 2.5rem;
    }

    h3 {
        font-family: $fuente-secundaria;
        font-size: 1.5rem;
        color: $color-letra;
    }

    p {
@extend h3;
        font-size: 1rem;
    }}
.index {
   /* display: grid;
    grid-template-areas:
        "navegador navegador navegador navegador"
        "cajaPrincipal cajaPrincipal cajaPrincipal cajaPrincipal"
        "separadorwaves separadorwaves separadorwaves separadorwaves"
        "programas programas programas programas"
        "calendario calendario calendario calendario"
        "amigos amigos testimonios testimonios"
        "contacto contacto contacto contacto"
        "footer footer footer footer"
    ;*/
}
.cajaPrincipal {
 
    grid-area: cajaPrincipal;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 38rem;
    border-bottom: 3px solid white;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
    align-items: center;

    video {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
        height: 130%;
        filter: brightness(80%);
    }

    .cajaTitulo {
        display: inline-block;
        width: 60%;

        h1 {
            font-family: $fuente-principal;
            font-weight: bold;
        }

        h2 {
            font-size: 2rem;
            font-family: $fuente-principal;
        }

    }

    .logoTitulo {
        height: 14rem;
    }


}

    .separadorwaves {
        grid-area: separadorwaves;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 192px;

        .waves {
            transform: scale(1.3326, 0.5);
            z-index: -2;
        }
    }

.programas {
    grid-area: programas;
    text-align: center;
    height: 30rem;
    width: 100%;
    .cuadrosProgram {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;
        height: 24rem;
        padding-top: 1rem;
    }

    .program {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 21rem;
        transition: all 0.5s;
        
        @include cuadro;

        &:hover {
            transform: scale(1.1, 1.1);
        }

        h4 {
            font-family: $fuente-principal;
            color: $color-letra;
            font-size: 1.3rem;
        }
    }

    img {
        height: 15rem;
    }

}

.calendario {
    grid-area: calendario;
    height: 38rem;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    .imagencalendario{
        border-radius: 10px;
       max-height: 30rem;
    }
    .botonreserva {
        transition: all 0.5s;
        &:hover{
            transform: scale(1.1, 1.1);
        }
    }
}

.amigos {
    grid-area: amigos;
    height: 600px;
    width: 632px;
    display: flex;
    flex-flow: row-reverse wrap;
    text-align: center;
    align-items: center;
    background: linear-gradient(to left bottom, white, rgb(188, 187, 187));
    border-top-right-radius: 290px;
    border-bottom-right-radius: 290px;
    padding-right: 19px;
    justify-content: space-evenly;

    h3 {
        color: rgb(224, 147, 3);
    }

    .partners {
        position: relative;
        height: 80%;
        border-radius: 25%;
    }
}

.testimonios {
    grid-area: testimonios;
    height: 600px;
    width: 632px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, white, rgb(188, 187, 187));
    border-top-left-radius: 290px;
    border-bottom-left-radius: 290px;
    padding-right: 19.5px;
    justify-content: space-evenly;

    h3 {
        color: rgb(224, 147, 3);

    }

    .partners {
        position: relative;
        height: 70%;
        border-radius: 25%;
    }

}

.calendariopag {
  /*  display: grid;
    grid-template-areas:
        "navegador navegador navegador navegador"
        "calendarioA calendarioA calendarioA calendarioA"
        "calendarioB calendarioB calendarioC calendarioC"
        "calendarioD calendarioD calendarioC calendarioC"
        "contacto contacto contacto contacto"
        "footer footer footer footer"

    ;
    gap: 10px;
*/
    
   
    .calendarioA {
        grid-area: calendarioA;
        display: flex;
        flex-flow: column wrap;
        padding-left: 3rem;

        h1 {
            font-family: $fuente-principal;
        }

        h2 {
            font-family: $fuente-principal;
            margin-top: -10px;
        }
    }
    .calBC{
        padding-left: 7REM;
    }
    .calendarioB{
        grid-area: calendarioB;
        display: flex;
        flex-flow: column wrap;
        .promociones{
        @include cuadro;
        transition: all 0.5s;
    
        &:hover {
            transform: scale(1.1, 1.1);
        }}

    }
    .calendarioC{
    
        .imagencalendario{
            border-radius: 10px;
           
        }
    }
        .contacto {
            grid-area: contacto;
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
        }
        @media (max-width:767px){
            .calBC{
                padding-left: 1rem;}    
        }
    }



.plataformaGrids {
    /*display: grid;
    grid-template-areas:
        "navegador navegador navegador navegador"
        "plataformaA plataformaA plataformaA plataformaA"
        "plataformaB plataformaC plataformaC plataformaC"
        "footer footer footer footer";
*/
    .estatua {
        min-width: 15rem
    }
    .ejercicios{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
    .plataformaA {
        grid-area: plataformaA;
        text-align: center;
        h1{font-family: "Quicksand";}
    }

    .plataformaB {
        grid-area: plataformaB;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

    .plataformaC {
        background-color: goldenrod;
        grid-area: plataformaC;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 30px;
        border: 3px white groove;
        box-shadow: 10px 12px 25px;
        
        .gridejercicio {
            border: 3px solid white;
            margin: 5px;
            border-radius: 5px;
            padding: 20px;
            transition: all 0.5s;

            &:hover {
                transform: scale(1.1, 1.1);
            }
            li{color: white;
            list-style: upper-roman;}

        }
    }
    h1{
        font-family: $fuente-principal;
    }
    h2 {
        font-family: "Raleway";
        color: whitesmoke;
    }

    h3 {
        font-size: 150%;
        font-family: "Raleway";
        color: rgb(58, 58, 58);
    }
}

.nosotros{
    padding: 0;
    margin: 0;
    h2{font-family: $fuente-principal;}
    h1{font-family: $fuente-principal;}


    .quienessomos {
        display: flex;
        flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
        padding-left: 4Rem;
        

    .historia {
        @include cuadro;
        background-image: url(../Imágenes/pizarra.jpg);
        background-repeat: none;
        background-size: cover;
        padding: 2rem;
        transition: all 1s;
        &:hover {
            transform:translate(-5px,5px);

        }
    }

    .videonosotros {
        border: 3px white solid;
        border-radius: 5px;
    }
}
}
.programaspag {
    /*
    grid-area: paginaprogramas;

    display: grid;
    grid-template-areas:
        "navegador navegador navegador navegador"
        "nivelUno nivelUno nivelUno nivelUno"
        "nivelDos nivelDos nivelDos nivelDos"
        "contacto contacto contacto contacto"
        "footer footer footer footer"
    ;
    */
    h1{font-family: $fuente-principal;
    font-size: 3rem;}
    h2{font-size: 5rem;
    }
    .cursos{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-evenly;
        font-family: $fuente-secundaria;
        color: white;
        height: 34rem;
        background-image: url(../Imágenes/pizarra.jpg);
        background-repeat: none;
        background-size: cover;
        li{list-style: lower-greek;}
    }
    .nivelUno {
        grid-area: nivelUno;
        height: 30rem;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        background-image: url(../Imágenes/nivel1.jpg) ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: double white 10px;
        border-top: white solid 10px;


        .intensivo1 {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
            padding: 15px;

            .temarioUno {
                background-color: rgba(255, 255, 255, 0.71);
                border: 3px solid white;
                width: 20rem;
                padding: 3px;
                margin: 5px;
                border-radius: 5px;
                transition: all 0.5s;
                &:hover {
                  transform: scale(1.05, 1.05);  
                }
            }


            h3 {
                color: rgb(59, 59, 59);
                font-size: 2rem;
            }

            li {
                color: rgb(59, 59, 59);
                font-size: 14px;
                list-style:lower-greek;
            }
        }
    }

    .tituloInt1 {
        width: 100%;
        font-family: "Quicksand";
        height: 20%;
    }



    .nivelDos {
        grid-area: nivelDos;
        height: 30rem;
        display: flex;
        flex-flow: row wrap;
        background-image: url(../Imágenes/nivel2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-bottom: solid white 10px;
        .intensivo1 {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
            justify-content: flex-end;
            width: 100%;
            padding: 15px;

            .temarioDos {
                background-color: rgba(255, 255, 255, 0.71);
                border: 2px solid white;
                width: 20rem;
                padding: 3px;
                margin: 5px;
                border-radius: 5px;
                transition: all 0.5s;
                &:hover {
                  transform: scale(1.05, 1.05);  
                }

                h3 {
                    color: rgb(59, 59, 59);
                    font-size: 2rem;
                }

                li {
                    color: rgb(59, 59, 59);
                    font-size: 14px;
                    list-style:lower-greek;
                }
            }
        }
    }
}