@media (max-width: 1080px) {
    .programas {
        height: 50rem;
    }

    .amigos {
        flex-flow: column wrap;
        justify-content: flex-start;
        padding-top: 4rem;

        .partners {
            height: 80%;
        }
    }

    .testimonios {
        flex-flow: column wrap;
        justify-content: flex-start;
        padding-top: 4rem;
        padding-right: 5px;

        .partners {
            padding-top: 2rem;
            height: 65%;
        }
    }
    .programaspag{
        .nivelUno{
            .intensivo1{
                .temarioUno{
                    max-width: 14rem;
        }}}
        .nivelDos{
            .intensivo1{
                .temarioDos{
                    max-width: 14rem;
    }}}}
}


@media (max-width: 768px) {
    .cajaPrincipal {
        display: flex;
        flex-flow: column-reverse wrap;
        justify-content: center;
        height: 31rem;

        .cajaTitulo {
            .slogan {
                font-size: 1rem;
            }

            h1 {
                font-size: 3rem;
            }
        }

        .logoTitulo {
            height: 10rem;
        }
    }

    .testimonios {
        flex-flow: column wrap;
        justify-content: flex-start;
        padding-top: 2rem;
        padding-right: 5px;

        .partners {
            padding-top: 2rem;
            height: 80%;
        }
    }
    .programaspag{
    .nivelUno {
        height: 50rem;
    }
    .tituloInt1{
        h2{font-size: 4rem;}
    }
    .nivelDos{
        height: 50rem;

    }}
}

@media (max-width: 576px) {
    .cursos{
        h1{font-size:1.5rem}
    }
    .programas {
        .cuadrosProgram{
            justify-content: center;
        }
        .program{
            max-width: 13rem;
        }
        img {
            height: 8rem;
        }
    }}
@media (max-width: 540px){
    .programaspag{
        .nivelUno {
            height: 55rem;
            .intensivo1{
                .temarioUno{
                    min-width: 20rem;
        }}}
        .tituloInt1{
            h2{font-size: 4rem;}
        }
        .nivelDos{
            height: 55rem;
            .intensivo1{
                .temarioDos{
                    min-width: 20rem;
    
        }}}}
}