@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@import "variables";
@import "maps";
@import "estilogeneral";
@import "navegador";
@import "contacto";
@import "footer";


*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../Imágenes/FondoNaranja2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

    h1{ font-style: $fuente-principal;
        font-size: 4rem;
        color: $color-letra;
    }
    h2{ font-style:$fuente-principal;
        font-size: 2.5rem;
        color: $color-letra;
    }
    h3{
        font-family: $fuente-secundaria;
        font-size: 1.5rem;
        color: $color-letra;
    }
    p{ font-style:$fuente-principal;
        font-size: 1rem;
        color: $color-letra;
    }
}
