@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@import "variables";
@import "estilogeneral";
@import "navegador";
@import "contacto";
@import "footer";
@import "mixin";

* {
    margin: 0;
    padding: 0;
}


$botonreserva: (
    colorfondo:linear-gradient(to bottom, white, rgb(153, 153, 153)),
    tamFuente:20px,
    borde:ridge 1px white,
    redondear:5px,
    tipocaja: inline-block,
    fuente:"Raleway",
    pad:5px,

);

.botonreserva {
    background: map-get($botonreserva , colorfondo);
    font-size: map-get($botonreserva , tamFuente);
    border: map-get($botonreserva , borde);
    display: map-get($botonreserva , tipocaja );
    font-size: map-get($botonreserva , fuente );
    border-radius: map-get($botonreserva , redondear );
    font-family: map-get($botonreserva , fuente );
    padding: map-get($botonreserva , pad );
}
