@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
.navbar {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(184, 184, 184));
  box-shadow: 1px 1px 1rem;
}

.logonav {
  max-width: 6rem;
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: rgb(31, 31, 31);
  padding: 20px;
  border: 1px solid rgb(31, 31, 31);
  border-radius: 5px;
  text-align: center;
  flex-flow: column wrap;
  align-items: center;
  border-top: 3px solid white;
}
.footer .finallogo {
  height: 3rem;
}

.contacto {
  grid-area: contacto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 30rem;
}
.contacto .conectate {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.contacto .conectate h3, .contacto .conectate body p, body .contacto .conectate p {
  display: inline-block;
}
.contacto .conectate .qr {
  max-height: 170px;
  transition: all 0.5s;
}
.contacto .conectate .qr:hover {
  max-height: 200px;
}
.contacto .redes {
  position: relative;
  height: 300px;
  width: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-align: center;
}
.contacto .redes a {
  text-decoration: none;
  font-family: "Raleway";
  color: white;
}
.contacto .redes .fb {
  height: 100px;
  transition: all 0.5s;
}
.contacto .redes .fb:hover {
  transform: rotate(45deg);
}
.contacto .redes .ig {
  height: 100px;
  transition: all 0.5s;
}
.contacto .redes .ig:hover {
  transform: rotate(45deg);
}

body {
  background-image: url("../Imágenes/FondoNaranja2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body h1, body h2 {
  font-style: "Quicksand";
  font-size: 4rem;
  color: white;
}
body h2 {
  font-size: 2.5rem;
}
body h3, body p {
  font-family: "Raleway";
  font-size: 1.5rem;
  color: white;
}
body p {
  font-size: 1rem;
}

.index {
  /* display: grid;
   grid-template-areas:
       "navegador navegador navegador navegador"
       "cajaPrincipal cajaPrincipal cajaPrincipal cajaPrincipal"
       "separadorwaves separadorwaves separadorwaves separadorwaves"
       "programas programas programas programas"
       "calendario calendario calendario calendario"
       "amigos amigos testimonios testimonios"
       "contacto contacto contacto contacto"
       "footer footer footer footer"
   ;*/
}

.cajaPrincipal {
  grid-area: cajaPrincipal;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 38rem;
  border-bottom: 3px solid white;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
  align-items: center;
}
.cajaPrincipal video {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -5;
  height: 130%;
  filter: brightness(80%);
}
.cajaPrincipal .cajaTitulo {
  display: inline-block;
  width: 60%;
}
.cajaPrincipal .cajaTitulo h1, .cajaPrincipal .cajaTitulo body h2, body .cajaPrincipal .cajaTitulo h2 {
  font-family: "Quicksand";
}
.cajaPrincipal .cajaTitulo h2 {
  font-size: 2rem;
  font-family: "Quicksand";
}
.cajaPrincipal .logoTitulo {
  height: 14rem;
}

.separadorwaves {
  grid-area: separadorwaves;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 192px;
}
.separadorwaves .waves {
  transform: scale(1.3326, 0.5);
  z-index: -2;
}

.programas {
  grid-area: programas;
  text-align: center;
  height: 30rem;
  width: 100%;
}
.programas .cuadrosProgram {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 24rem;
  padding-top: 1rem;
}
.programas .program {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 21rem;
  transition: all 0.5s;
  border: 3px solid white;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}
.programas .program:hover {
  transform: scale(1.1, 1.1);
}
.programas .program h4 {
  font-family: "Quicksand";
  color: white;
  font-size: 1.3rem;
}
.programas img {
  height: 15rem;
}

.calendario {
  grid-area: calendario;
  height: 34.5rem;
  text-align: center;
}

.amigos {
  grid-area: amigos;
  height: 600px;
  width: 632px;
  display: flex;
  flex-flow: row-reverse wrap;
  text-align: center;
  align-items: center;
  background: linear-gradient(to left bottom, white, rgb(188, 187, 187));
  border-top-right-radius: 290px;
  border-bottom-right-radius: 290px;
  padding-right: 19px;
  justify-content: space-evenly;
}
.amigos h3, .amigos body p, body .amigos p {
  color: rgb(224, 147, 3);
}
.amigos .partners {
  position: relative;
  height: 50%;
  filter: blur(10px);
}

.testimonios {
  grid-area: testimonios;
  height: 600px;
  width: 632px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, white, rgb(188, 187, 187));
  border-top-left-radius: 290px;
  border-bottom-left-radius: 290px;
  padding-right: 19.5px;
  justify-content: space-evenly;
}
.testimonios h3, .testimonios body p, body .testimonios p {
  color: rgb(224, 147, 3);
}
.testimonios .partners {
  position: relative;
  height: 50%;
  filter: blur(10px);
}

.calendariopag {
  /*  display: grid;
      grid-template-areas:
          "navegador navegador navegador navegador"
          "calendarioA calendarioA calendarioA calendarioA"
          "calendarioB calendarioB calendarioC calendarioC"
          "calendarioD calendarioD calendarioC calendarioC"
          "contacto contacto contacto contacto"
          "footer footer footer footer"

      ;
      gap: 10px;
  */
}
.calendariopag .calendarioA {
  grid-area: calendarioA;
  display: flex;
  flex-flow: column wrap;
  padding-left: 30px;
}
.calendariopag .calendarioA h1, .calendariopag .calendarioA body h2, body .calendariopag .calendarioA h2 {
  font-family: "Quicksand";
}
.calendariopag .calendarioA h2 {
  font-family: "Quicksand";
  margin-top: -10px;
}
.calendariopag .calendarioB {
  grid-area: calendarioB;
  display: flex;
  flex-flow: row wrap;
}
.calendariopag .calendarioB .promociones {
  border: 3px solid white;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.5s;
}
.calendariopag .calendarioB .promociones:hover {
  transform: scale(1.1, 1.1);
}
.calendariopag .calendarioC {
  border: 3px solid white;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
}
.calendariopag .contacto {
  grid-area: contacto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.plataformaGrids {
  display: grid;
  grid-template-areas: "navegador navegador navegador navegador" "plataformaA plataformaA plataformaA plataformaA" "plataformaB plataformaC plataformaC plataformaC" "footer footer footer footer";
}
.plataformaGrids .estatua {
  width: 400px;
}
.plataformaGrids .plataformaA {
  grid-area: plataformaA;
  padding-top: 60px;
  text-align: center;
}
.plataformaGrids .plataformaA h1, .plataformaGrids .plataformaA body h2, body .plataformaGrids .plataformaA h2 {
  font-family: "Quicksand";
}
.plataformaGrids .plataformaB {
  grid-area: plataformaB;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.plataformaGrids .plataformaC {
  background-color: goldenrod;
  grid-area: plataformaC;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: 3px white groove;
  box-shadow: 10px 12px 25px;
}
.plataformaGrids .plataformaC .gridejercicio {
  border: 3px solid white;
  margin: 5px;
  border-radius: 5px;
  padding: 20px;
  transition: all 0.5s;
}
.plataformaGrids .plataformaC .gridejercicio:hover {
  transform: scale(1.1, 1.1);
}
.plataformaGrids .plataformaC .gridejercicio li {
  color: white;
}
.plataformaGrids h1, .plataformaGrids body h2, body .plataformaGrids h2 {
  font-family: "Quicksand";
}
.plataformaGrids h2 {
  font-family: "Raleway";
  color: whitesmoke;
}
.plataformaGrids h3, .plataformaGrids body p, body .plataformaGrids p {
  font-size: 150%;
  font-family: "Raleway";
  color: rgb(58, 58, 58);
}

.quienessomos {
  display: flex;
  padding-top: 70px;
  flex-flow: row wrap;
  background: linear-gradient(to bottom, rgb(31, 31, 31), rgb(121, 87, 3), rgba(255, 166, 0, 0.989));
  justify-content: center;
}
.quienessomos h2 {
  font-family: "Quicksand";
}
.quienessomos h1, .quienessomos body h2, body .quienessomos h2 {
  font-family: "Quicksand";
}
.quienessomos .mision {
  padding-top: 40px;
  padding-bottom: 50px;
  border-bottom: 3px solid white;
}
.quienessomos .videonosotros {
  border: 3px white solid;
  border-radius: 5px;
}

.programaspag {
  /*
  grid-area: paginaprogramas;

  display: grid;
  grid-template-areas:
      "navegador navegador navegador navegador"
      "nivelUno nivelUno nivelUno nivelUno"
      "nivelDos nivelDos nivelDos nivelDos"
      "contacto contacto contacto contacto"
      "footer footer footer footer"
  ;
  */
  margin: 0;
  padding: 0;
}
.programaspag h2 {
  font-size: 5rem;
}
.programaspag .nivelUno {
  grid-area: nivelUno;
  padding-top: 40px;
  height: 34rem;
  transform: translate(0px, 43px);
  display: flex;
  flex-flow: row wrap;
  background-image: url(../Imágenes/nivel1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: double white 10px;
}
.programaspag .nivelUno .intensivo1 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 15px;
}
.programaspag .nivelUno .intensivo1 .temarioUno {
  background-color: rgba(255, 255, 255, 0.71);
  border: 3px solid white;
  width: 20rem;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}
.programaspag .nivelUno .intensivo1 h3, .programaspag .nivelUno .intensivo1 body p, body .programaspag .nivelUno .intensivo1 p {
  color: rgb(59, 59, 59);
}
.programaspag .nivelUno .intensivo1 li {
  color: rgb(59, 59, 59);
  font-size: 12px;
}
.programaspag .tituloInt1 {
  width: 100%;
  font-family: "Quicksand";
  height: 20%;
}
.programaspag .nivelDos {
  grid-area: nivelDos;
  padding-top: 40px;
  height: 34rem;
  transform: translate(0px, 43px);
  display: flex;
  flex-flow: row wrap;
  background-image: url(../Imágenes/nivel2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: solid white 10px;
}
.programaspag .nivelDos .intensivo1 {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 15px;
}
.programaspag .nivelDos .intensivo1 .temarioDos {
  background-color: rgba(255, 255, 255, 0.71);
  border: 2px solid white;
  width: 20rem;
  padding: 3px;
  margin: 5px;
  border-radius: 5px;
}
.programaspag .nivelDos .intensivo1 .temarioDos h3, .programaspag .nivelDos .intensivo1 .temarioDos body p, body .programaspag .nivelDos .intensivo1 .temarioDos p {
  color: rgb(59, 59, 59);
}
.programaspag .nivelDos .intensivo1 .temarioDos li {
  color: rgb(59, 59, 59);
  font-size: 12px;
}

.navbar {
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(184, 184, 184));
  box-shadow: 1px 1px 1rem;
}

.logonav {
  max-width: 6rem;
}

.contacto {
  grid-area: contacto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 30rem;
}
.contacto .conectate {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}
.contacto .conectate h3, .contacto .conectate body p, body .contacto .conectate p {
  display: inline-block;
}
.contacto .conectate .qr {
  max-height: 170px;
  transition: all 0.5s;
}
.contacto .conectate .qr:hover {
  max-height: 200px;
}
.contacto .redes {
  position: relative;
  height: 300px;
  width: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-align: center;
}
.contacto .redes a {
  text-decoration: none;
  font-family: "Raleway";
  color: white;
}
.contacto .redes .fb {
  height: 100px;
  transition: all 0.5s;
}
.contacto .redes .fb:hover {
  transform: rotate(45deg);
}
.contacto .redes .ig {
  height: 100px;
  transition: all 0.5s;
}
.contacto .redes .ig:hover {
  transform: rotate(45deg);
}

.footer {
  grid-area: footer;
  display: flex;
  background-color: rgb(31, 31, 31);
  padding: 20px;
  border: 1px solid rgb(31, 31, 31);
  border-radius: 5px;
  text-align: center;
  flex-flow: column wrap;
  align-items: center;
  border-top: 3px solid white;
}
.footer .finallogo {
  height: 3rem;
}

* {
  margin: 0;
  padding: 0;
}

.botonreserva {
  background: linear-gradient(to bottom, white, rgb(153, 153, 153));
  font-size: 20px;
  border: ridge 1px white;
  display: inline-block;
  font-size: "Raleway";
  border-radius: 5px;
  font-family: "Raleway";
  padding: 5px;
}/*# sourceMappingURL=estilo.css.map */